{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <h1>Egen layout från report.twig</h1>
        <div class="sidebar-meny">
            {{ content }}
        </div>
        <div class="container">
            {{ content }}
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
