$font-color: #e9dcc9;
$font-alternative-color: #a1a1a1;
$accent-color: #023859;
$background-color: #0378a6;
$background-alternative-color: #03588c;
$background-alternative: #b0d1d9;
$background-color-dark-theme: #0378a6;
$background-alternative-color-dark-theme: #024873;
$background-alternative-dark-theme: #202945;
$font-alternative-dark-theme: #8ab5bf;
